@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

@font-face {
  font-family: "ramadhan";
  src: url("/Sketsaramadhan-nRLAO.otf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Berkshire Swash", cursive;
  color: #fff;
  background-color: #060915;
}
.page-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.page-load .text h2 {
  font-size: 3rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: consolas;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000;
}

.container {
  margin: 2.5rem 7% 0 7%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: "ramadhan";
}
.navbar a {
  color: #fff;
}
.navbar-item {
  display: flex;
}

.navbar-item a {
  padding-left: 1rem;
  font-size: 1.5rem;
}
.navbar-item a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #d5a431;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
}
.navbar-item a:hover::after {
  transform: scaleX(0.5);
  transition: 0.5s;
}

.navbar-item a.active::after {
  content: "";
  display: block;
  border-bottom: 2px solid #d5a431;
  padding-bottom: 0.5rem;
  transform: scaleX(0.5);
}

.navbar .contact {
  color: #000;
  background-color: #d5a431;
  padding: 0.1rem 1rem;
  border-radius: 0.8rem;
}

.content {
  height: 82vh;
  padding-top: 5rem;
  font-size: 1em;
  text-align: center;
  background-image: url(/assets/img/masjid.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .count-down {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 6rem;
}
#count-days,
#count-hours,
#count-minutes,
#count-seconds {
  position: relative;
}
#count-seconds {
  color: #d5a431;
}

#count-days:after,
#count-hours:after,
#count-minutes:after,
#count-seconds:after {
  content: "Hari";
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -30px;
  font-size: 1.5rem;
  color: #fff;
}
#count-hours:after {
  content: "Jam";
}
#count-minutes:after {
  content: "Menit";
}
#count-seconds:after {
  content: "Detik";
}

.foto {
  margin: auto;
  margin-bottom: 2rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #d5a431;
  background-color: #fff;
}

.foto .img-foto {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.text-content {
  font-family: "ramadhan";
  font-size: 4rem;
}

.text-content h1 {
  color: #d5a431;
}

/* JADWAL PUASA */
#list-jadwal {
  display: block;
}

.jadwal-bogor {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  margin-bottom: 10rem;
}
.jadwal-jakarta {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
}

.jadwal-bogor::after {
  content: "Bogor";
  display: block;
  position: absolute;
  top: -7rem;
  color: #d5a431;
}
.jadwal-jakarta::after {
  content: "Jakarta";
  display: block;
  position: absolute;
  top: -7rem;
  color: #d5a431;
}

.header-jadwal {
  margin-bottom: 10rem;
}

.imsyak,
.magrib {
  color: #d5a431;
}

.imsyak,
.shubuh,
.dhuha,
.dzuhur,
.ashr,
.magrib,
.isya {
  position: relative;
}

.imsyak::after,
.shubuh::after,
.dhuha::after,
.dzuhur::after,
.ashr::after,
.magrib::after,
.isya::after {
  content: "Imsyak";
  position: absolute;
  text-align: center;
  left: -10px;
  right: 0;
  top: -40px;
  color: #fff;
  font-family: "ramadhan";
}
.shubuh::after {
  content: "Shubuh";
}
.dhuha::after {
  content: "Dhuha";
}
.dzuhur::after {
  content: "Dzuhur";
}
.ashr::after {
  content: "Ashr";
}
.magrib::after {
  content: "Magrib";
}
.isya::after {
  content: "Isya";
}

footer {
  display: block;
  text-align: center;
  padding: 2rem 0;
  background-color: #d5a431;
}
.icon-soc a {
  font-size: 2.5rem;
  color: #000;
  padding-right: 1rem;
}
.icon-soc a:hover {
  color: #fff;
}
footer p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #000;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .container {
    margin: 3rem 10px 0 10px;
  }
  .content {
    height: 80vh;
    padding: 5rem 0 0 0;
  }

  .header-jadwal {
    margin-bottom: 10rem;
    font-size: 1.2rem;
  }

  #list-jadwal {
    display: flex;
    justify-content: space-around;
  }
  .jadwal-bogor::after {
    top: -5rem;
  }
  .jadwal-jakarta::after {
    top: -5rem;
  }

  .jadwal-bogor,
  .jadwal-jakarta {
    display: block;
    font-size: 2.5rem;
  }

  .jadwal-bogor p,
  .jadwal-jakarta p {
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .imsyak::after,
  .shubuh::after,
  .dhuha::after,
  .dzuhur::after,
  .ashr::after,
  .magrib::after,
  .isya::after {
    position: absolute;
    text-align: center;
    left: -15rem;
    top: 5px;
    color: #fff;
    font-family: "ramadhan";
  }

  footer {
    padding: 2.5rem 0;
  }
}
